# Configuración de la Base de Datos en Neon
# Reemplaza los valores en tu archivo .env real
DATABASE_URL= "postgresql://neondb_owner:npg_1Y4eHqZJbIth@ep-hidden-sea-a88m2f8r-pooler.eastus2.azure.neon.tech/neondb?sslmode=require"

# Otras configuraciones (Opcional)
SECRET_KEY=tu_clave_secreta_aqui
DEBUG=True